* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-codoacodo {
  width: 8rem;
}

.img-portada {
  object-fit: cover;
  overflow: hidden;
  display: inline-block;
  height: 38rem;
}

.texto-bsas {
  width: 50%;
  margin-left: auto;
  margin-top: 20rem;
  text-align: right;
}

a {
  text-decoration: none;
}

.img-playa {
  object-fit: cover;
}
